:root{
    --primary-color:    #FF6C00; 
    --secondary-color:  #191C26;

    --text-primary:     #303030;
    --text-secondary:   #9DA4BD;
    --text-description: #555;
}


body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h2.section-title{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 42px;
    color: var(--text-primary)
}
h2.section-title.lighten{
    color: #fff;
}
.hero-description{
    color: var(--text-secondary);
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}
.suptitle-secondary, .suptitle-primary{
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;  
    color: rgba(157, 164, 189, 0.6);
    text-transform: uppercase;
}
.suptitle-primary{
    color: var(--text-primary);
}
/* nav style */
nav.navbar{
   outline: 2px solid tomato; 
}
nav.navbar .btn-box{
    display: inline-block;
}
.nav-box{
    outline: 2px solid tomato;
    display: inline-block;
}
a.nav-link{
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;  

}
a.nav-link:hover, .social-link:hover{
    color: var(--primary-color);
}
.nav-box li{
    display: inline-block;
}
.social-link{
    color: var(--text-primary);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;  
}
.primary-btn{
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border: 1px solid #FF6C00;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 12px 20px;
}
.primary-btn.darken{
    color: var(--text-primary);
}

p.section-description {
    color: var(--text-description);
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
}
/* price style */
.price-list{
    display: inline-block;
}
.price-item p, .price-item span{
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    color: var(--text-secondary);
}
/* why section */
.number-box{
    background-color: #F7F7F7;
    width: 170px;
    height: 132px
    display: inline-block;
}
.number-box span, .number-box p{
    display: block;
    text-align: center;
}
.number-box p {
    font-size: 18px;
    line-height: 30px;
    color: var(--text-primary);
}
.number-box p{
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
}
.masters-list p{
    color: var(--text-primary);
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.masters-list span{
    color: var(--primary-color);
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
/* footer */
.footer-contacts{
    font-size: 18px;
    line-height: 30px;
    color: var(--text-secondary);
}